@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a, ul {
  text-decoration: none;
  list-style-type: none;
  color: rgb(94, 89, 89);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  justify-self: flex-end;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px;
}

.left-links {
  display: flex;
  gap: 8px;
}

.right-links {
  display: flex;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: auto;
  gap: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.input {
  display: flex;
  justify-content: center;
}